<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ChatBot SOC</title>
</head>

<body>
    <div class="container">
        <header><%- include('partials/header') %></header>
        
        <ul class="messages-list">
            <% chats.forEach(chat=> { %> <% if (chat.user==='user' ) { %>
                    <li class="message sent">
                        <div class="message-text">
                            <div class="message-sender">
                                <b>You</b>
                            </div>
                            <div class="message-content">
                                <%= chat.message %>
                            </div>
                        </div>
                    </li>
                    <% } else { %>
                        <li class="message received">
                            <div class="message-text">
                                <div class="message-received">
                                    <b>AI Chatbot</b>
                                </div>
                                <div class="message-content">
                                    <%= chat.message %>
                                </div>
                            </div>
                        </li>
                        <% } %>
                            <% }); %>
        </ul>
        
        <form class="message-form expanded" method="POST" enctype="multipart/form-data">
            <ul class="file-name-container"></ul>
            <div class="input-group">
                <textarea type="text" class="form-control message-input" id="messageInput" name="message" rows="1"
                    placeholder="Type your message..."></textarea>
                <label class="btn-upload" for="pdfFileInput">
                    <img src="/images/file.png" alt="Attach file" width="24px" />
                    <input type="file" class="file-input" id="pdfFileInput" name="file" accept="application/pdf" />
                </label>
                <button type="submit" class="btn-send" id="sendMessage">
                    <img src="/images/send.png" alt="Send" width="24px" />
                </button>
            </div>
        </form>

        <footer><%- include('partials/footer') %></footer>
    </div>


    <script>
        const messagesList = document.querySelector(".messages-list");
        const messageForm = document.querySelector(".message-form");
        const fileNameContainer = document.querySelector(".file-name-container");

        const messageInput = document.getElementById("messageInput");
        const pdfFileInput = document.getElementById("pdfFileInput");
        const sendButton = document.getElementById("sendMessage");
        const maxWords = 500;
        const maxChars = 500;
        const lineHeight = 20;
        const maxHeight = lineHeight * 5;

        pdfFileInput.addEventListener("change", (event) => {
            event.preventDefault();
            const selectedFile = event.target.files[0];
            const fileName = selectedFile.name

            if (selectedFile) {
                fileNameContainer.innerHTML = `
                    <li class="file-name text-muted" >
                        <div>${fileName}</div>
                    </li>
                `
            } else {
                fileNameContainer.innerHTML = ``
            }
        });

        messageInput.setAttribute('maxlength', maxChars);
        messageInput.addEventListener('input', function(event) {
            event.preventDefault();
            const words = messageInput.value.trim().split(/\s+/);
            
            if (words.length > maxWords) {
                const trimmedText = words.slice(0, maxWords).join(" ");
                messageInput.value = trimmedText;
                alert(`You have reached the maximum word limit of ${maxWords}.`);
            }

            if (messageInput.value.length > maxChars) {
                messageInput.value = messageInput.value.slice(0, maxChars);
                alert(`You have reached the maximum char limit of ${maxChars}.`)
            }
        });

        messageForm.addEventListener("submit", (event) => {
            event.preventDefault();

            const user_message = messageInput.value.trim();
            const selectedFile = pdfFileInput.files[0];
            const fileName = selectedFile ? selectedFile.name : undefined;
            if (user_message.length === 0 && !selectedFile) return;

            const messageItem = document.createElement("li");
            messageItem.classList.add("message", "sent");
            messageItem.innerHTML = `
                <div class="message-text">
                    <div class="message-sender">
                        <b>You</b>
                    </div>
                    <div class="message-content">
                        ${user_message}
                    </div>
                </div>
            `;

            messagesList.appendChild(messageItem);
            messagesList.scrollTop = messagesList.scrollHeight;
            sendButton.disabled = true;

            fetch("/", {
                method: "POST",
                body: new FormData(messageForm),
            })
            .then((response) => response.json())
            .then((data) => {
                const chatbot_message = data.message;
                const messageItem = document.createElement("li");
                messageItem.classList.add("message", "received");
                messageItem.innerHTML = `
                <div class="message-text">
                    <div class="message-received">
                        <b>AI Chatbot</b>
                    </div>
                    <div class="message-content">
                        ${chatbot_message}
                    </div>
                </div>
            `;
                messagesList.appendChild(messageItem);
                messagesList.scrollTop = messagesList.scrollHeight;
                sendButton.disabled = false;

            })
            .catch((error) => {
                const errorMessageItem = document.createElement("li");
                errorMessageItem.classList.add("message", "received");
                errorMessageItem.innerHTML = `
                <div class="message-text">
                    <div class="message-received">
                        <b>Error</b>
                    </div>
                    <div class="message-content">
                        An error occurred while sending your message. Please try again.
                    </div>
                </div>
            `;

                messagesList.appendChild(errorMessageItem);
                messagesList.scrollTop = messagesList.scrollHeight;
                sendButton.disabled = false;
            });

            messageForm.reset();
            fileNameContainer.innerHTML = ``;
            messageInput.focus();
        });

        messageInput.focus();
        messagesList.scrollTop = messagesList.scrollHeight;
    </script>
</body>

</html>