*{
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-family: "Segoe UI";
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header {
    padding: 10px 20px 10px 20px;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #007bff;
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer {
    padding: 5px 20px 5px 20px;
    text-align: center;
    opacity: 0.3;
    font-size: 1rem;
}

.img-custom {
    background-color: transparent; 
    border: none;
    outline: none;
}

.messages-list {
    flex: 1; 
    padding: 10px;
    overflow-y: auto; 
}

.message-form {
    flex-shrink: 0; 
    background-color: #dcf8c6;
    padding: 10px;
    border-radius: 30px;
    margin: 0 10px 0px 10px;
}

.message {
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    width: 100%;
}

.avatar {
    width: 75px;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.text {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.sent {
    background-color: #eefce3;
    align-self: flex-end;
}

.received {
    background-color: #cce7ff;
    align-self: flex-start;
}

/*  */

.input-group {
    display: flex;
    align-items: center;
}

.message-input {
    max-height: calc(1.2em * 4); 
    overflow-y: auto; 
}

.input-group .message-input {
    flex: 1;
    padding: 0px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    resize: none;
    text-align: left;
    vertical-align: middle; 
}

.input-group .btn-upload {
    padding: 0px 10px;
    border: none;
    outline: none;
    display: flex;
}

.input-group .btn-send {
    padding: 0px 10px;
    border: none;
    outline: none;
    display: flex;
}

.input-group .file-input {
    display: none;
}

.file-container {
    margin-bottom: 5px;
    padding: 0px 20px;
}

.file-container .file.text-muted {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    max-width: 100%;
}

.file-container .file .file-name {
    font-size: 0.875rem;
    color: red;
}

.loader {
    border: 12px solid #f3f3f3; 
    border-top: 12px solid #3498db; 
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}